#nav_body {
    height: 15vh;
    display:grid;
    grid-template-columns: 25% 75%;
}

#img_body{
    height: 10vh;
    width: auto;
    padding-top: 1rem;
    padding-left: 3rem;
    
}

#nav_body_ul{
    display: inline-block;
    list-style: none;
    
}
#nav_body li{
    display: inline-block;
    padding-top: 1.25rem;
    padding-right:5vw;
    
    
}


.link_class{
    color: black;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}