#nav_body {
    height: 15vh;
    
}

#img_body{
    height: 10vh;
    width: auto;
    padding-top: 1rem;
    padding-left: 3rem;
    background-color: rgb(91, 17, 219);
}

#nav_body_ul{
    display: inline-block;
    list-style: none;
    background-color: rgb(206, 206, 132);
}
#nav_body li{
    display: inline-block;
    padding-right:5vw;
    color: white;
    font-size: 1.2rem;
    
}