#table_main{
    display: grid;
    grid-template-rows: 1fr;
    height: 70vw;
    justify-content: center;
    font-family: 'Mezaraki';
    font-size: 1.5vw;
    
    
}

#table_text1{
    font-family: 'Mezaraki';
    font-size: 4vw;
    
    
}

#res_main{
        background-color: #F4CE14;
        width: 40vw;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 10px;
        border-radius: 16px;
}

.res_ip {
        height: 3vw;
        border-radius: 16px;
        border: 3px solid black;
        padding-left: 15px;
        font-weight: bolder;
}

.res_but{
        height: 3vw;
        border-radius: 16px;
        border: 3px solid black;
        padding-left: 15px;
        font-weight: bolder;
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
        background-color: #3d4a40;
        color: white;
        width: 20vw;

}

.res_but:hover{
    color: #F4CE14;
    border: 5px solid black;
    width: 25vw;
}
